<div>
        <div class="base-title">
                <img style="margin-right: 15px" src="./public/images/icon-location.png" height="20px">
            <h4><strong>China - Shanghai</strong></h5>
        </div>
        <div class="card intro" style="width: 12rem;">
            <span><strong>Shanghai-San Jose</strong></span>
            <span><strong>Bandwith: 4Gbps</strong></span>
            <span><strong>0.89Mbps 0.79Mbps</strong></span>
            <span><strong>Utilization: 23%</strong></span>
        </div>
        <div class="card card-container" id="card-container" onclick="hiddenCard()" style="width: 18rem">

            <img src="./public/images/icon-close.png" class="delete" onclick="hiddenCard()" />
            <img alt="Card image cap" class="card-img-top" src="./public/images/index.png">

            <div class="card-body" style="border-bottom:2px solid #47B2B2;">

                <!-- <i class="fa fa-map-marker"></i>  -->
                <img src="./public/images/icon-location.png" width="12px" height="16px">
                <h4 class="card-subtitle location" style="margin-left: 20px;font-size:0.7rem; color: #73787E; ">
                    <strong>China - Shanghai</strong></h4>
                <h4 class="card-title" style="font-size:1rem;line-height: 30px"><strong>Network Status</strong></h4>
            </div>
            <div class="network-list">
                <div class="row network">
                    <div class="col-1" style="padding-left:40px"><img src="./public/images/icon-green.png" width="10px"
                            height="12px"></div>
                    <div class="col-6" style="margin-left:-12px" ><strong>0-75/s</strong></div>
                    <div class="col-1"></div>
                    <div class="col-2">3</div>
                </div>
                <div class="row network">
                    <div class="col-1" style="padding-left:40px"><img src="./public/images/icon-yellow.png" width="10px"
                            height="12px"></div>
                    <div class="col-6" style="margin-left:-12px"><strong>76-150b/s</strong></div>
                    <div class="col-1"></div>
                    <div class="col-2">2</div>
                </div>

                <div class="row network">
                    <div class="col-1" style="padding-left:40px"><img src="./public/images/icon-red.png" width="10px"
                            height="12px"></div>
                    <div class="col-6" style="margin-left:-12px"><strong>151-300b/s</strong></div>
                    <div class="col-1"></div>
                    <div class="col-2">1</div>
                </div>
                <div class="row network">
                    <div class="col-1" style="padding-left:40px"><img src="./public/images/icon-noNetwork.png"
                            width="10px" height="12px"></div>
                    <div class="col-6" style="margin-left:-12px"><strong>No network</strong></div>
                    <div class="col-1"></div>
                    <div class="col-2">1</div>
                </div>

                <!-- <a class="btn btn-outline-primary" href="#">Action</a> -->
                <!-- <a class="btn btn-outline-primary" href="#">Action</a> -->
            </div>
        </div>
    </div>

